{% extends 'todoapp/base.html' %}
 
 
{% block main_block %}
	{% load staticfiles %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
	<h3 id="content">Welcome To Our Web Site It Is Good To See u </h3>
	<div id="img_block" class="_img_">
		
		<div class="button">
			<!--<img src="{% static 'images/save1.png' %}" id="cmd" />
			<div class='button-title'>Save</div><hr />-->
		</div>
		<img id="img" src="{% static 'images/smile.jpg' %}" />
		 
	</div>
	<hr />
{% endblock %}
 